#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

export PYBUILD_NAME=panflute
export http_proxy=127.0.0.1:9
export https_proxy=127.0.0.1:9

override_dh_auto_build:
	dh_auto_build
	PYTHONPATH=. python3 -m sphinx -N -b html -d docs/build/doctrees docs/source docs/build/html
	# Use libjs-* instead of embedded JS libraries
	(cd docs/build/html/_static; rm jquery.js underscore.js)

override_dh_installdocs:
	dh_installdocs --doc-main-package=python3-panflute -p python-panflute-doc
	dh_installdocs --doc-main-package=python3-panflute -p python3-panflute

override_dh_installexamples:
	dh_installdocs --doc-main-package=python3-panflute -p python-panflute-doc

override_dh_installman:
	pandoc -s -t man -o debian/tmp/panfl.1 debian/panfl.1.md
	pandoc -s -t man -o debian/tmp/panflute.1 debian/panflute.1.md
	dh_installman

override_dh_clean:
	(cd docs; rm -rf build)
	rm -rf .pybuild
	dh_clean

%:
	dh $@ --with python3 --buildsystem=pybuild
